In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [22]:
df_train = pd.read_csv('fof_train.txt')
df_train['file_name_tiff'] = np.array(df_train['file_name'].str.split('.').tolist())[:,0]
df_train['file_name_tiff'] = df_train['file_name_tiff'] + '.tiff'
# df_train = df_train.set_index('file_name_tiff')
df_train.head()

                       file_name label                  file_name_tiff
0  0040491234-A_BANDS-S2-L1C.png  full  0040491234-A_BANDS-S2-L1C.tiff
1  0040711607-A_BANDS-S2-L1C.png  full  0040711607-A_BANDS-S2-L1C.tiff
2  0040819014-A_BANDS-S2-L1C.png  full  0040819014-A_BANDS-S2-L1C.tiff
3  0040819115-A_BANDS-S2-L1C.png  full  0040819115-A_BANDS-S2-L1C.tiff
4  0050056343-A_BANDS-S2-L1C.png  full  0050056343-A_BANDS-S2-L1C.tiff

In [23]:
df_full = pd.read_csv('../file_of_files.txt',header=None)
df_full = df_full.rename(index=str, columns={0: "path"})
df_full['file_name_tiff'] = np.array(df_full['path'].str.split('/').tolist())[:,3]
# df_full = df_full.set_index('file_name_tiff')

df_full.head()

,path,file_name_tiff
0,2_data/03_data/dataset1/0040002291-A_BANDS-S2-...,0040002291-A_BANDS-S2-L1C.tiff
1,2_data/03_data/dataset1/0040007446-A_BANDS-S2-...,0040007446-A_BANDS-S2-L1C.tiff
2,2_data/03_data/dataset1/0040012601-A_BANDS-S2-...,0040012601-A_BANDS-S2-L1C.tiff
3,2_data/03_data/dataset1/0040012601-B_BANDS-S2-...,0040012601-B_BANDS-S2-L1C.tiff
4,2_data/03_data/dataset1/0040019671-A_BANDS-S2-...,0040019671-A_BANDS-S2-L1C.tiff

In [25]:
for index, row in tqdm(df_train.iterrows(), total=len(df_train) ):
    file_name_tiff = row['file_name_tiff']
    
    path = df_full[df_full['file_name_tiff'] == file_name_tiff]['path'][0]
    
    df_train.at[index, 'triton_path'] = path
#     break

100%|██████████| 7499/7499 [02:04<00:00, 60.16it/s]

In [29]:
df_train.head()

,file_name,label,file_name_tiff,triton_path
0,0040491234-A_BANDS-S2-L1C.png,full,0040491234-A_BANDS-S2-L1C.tiff,2_data/03_data/dataset1/0040491234-A_BANDS-S2-...
1,0040711607-A_BANDS-S2-L1C.png,full,0040711607-A_BANDS-S2-L1C.tiff,2_data/03_data/dataset2/0040711607-A_BANDS-S2-...
2,0040819014-A_BANDS-S2-L1C.png,full,0040819014-A_BANDS-S2-L1C.tiff,2_data/03_data/dataset6/0040819014-A_BANDS-S2-...
3,0040819115-A_BANDS-S2-L1C.png,full,0040819115-A_BANDS-S2-L1C.tiff,2_data/03_data/dataset4/0040819115-A_BANDS-S2-...
4,0050056343-A_BANDS-S2-L1C.png,full,0050056343-A_BANDS-S2-L1C.tiff,2_data/03_data/dataset6/0050056343-A_BANDS-S2-...

In [28]:
df_train.to_csv('fof_train_triton.csv', index=False)