In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('~/Dropbox (Aalto)/Jere_data/export.csv')

duplicate entries in 'LOHKO'

In [3]:
df.shape[0] - len(np.unique(df['LOHKO']))

4817

In [4]:
lohko = df['LOHKO']

In [5]:
df[lohko.isin(lohko[lohko.duplicated()])].sort_values('LOHKO').head(6)

,ELY,KNRO,TILTU,LOHKO,AREA,PERIMETER,xmin,ymin,xmax,ymax
792543,11,233,971026479.0,40077770,368.540762,816.415759,3292577.932,7012355.530,3292829.129,7012549.278
792515,11,233,971025368.0,40077770,368.540762,816.415759,3292577.932,7012355.530,3292829.129,7012549.278
789359,11,233,281027184.0,40126068,398.492676,856.007206,3287961.922,7032875.164,3288275.050,7033158.769
780177,11,233,4084710.0,40126068,398.492676,856.007206,3287961.922,7032875.164,3288275.050,7033158.769
792544,11,233,971026479.0,40783749,542.836465,1243.717362,3292567.022,7012342.833,3292898.815,7012700.452
777705,11,233,4024385.0,40783749,542.836465,1243.717362,3292567.022,7012342.833,3292898.815,7012700.452

In [6]:
df = df[lohko.duplicated() == False]

no duplicated entries left

In [7]:
df.shape[0] - len(np.unique(df['LOHKO']))

0

In [8]:
df.shape[0]*2/20/60/24

77.63333333333334