In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('~/Dropbox (Aalto)/MAVI1/kasvit_1997_2014.txt', sep=';', encoding='Latin-1')

/anaconda/envs/edward/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

column translations:
- VUOSI = YEAR
- PLK_PERUSLOHKOTUNNUS = PLK field parcel identifier
- TUNNUS = identifier
- KASVIKOODI = PLANT CODE
- KASVI = PLANT
- LAJIKEKOODI = VARIETY CODE
- LAJIKE = VARIETY
- PINTA_ALA = Property area
- OSITT_TUHO = partial crop loss
- TAYS_TUHO = full crop loss

In [3]:
df.head(10)

,VUOSI,PLK_PERUSLOHKOTUNNUS,TUNNUS,KASVIKOODI,KASVI,LAJIKEKOODI,LAJIKE,PINTA_ALA,OSITT_TUHO,TAYS_TUHO
0,1997,40000473,28165,1310,Rehuohra,14,LOVIISA,1508,NaN,NaN
1,1997,40000574,28165,1310,Rehuohra,14,LOVIISA,110,NaN,NaN
2,1997,40000675,28165,1310,Rehuohra,14,LOVIISA,40,NaN,NaN
3,1997,40000776,28165,1320,Mallasohra,1,HANKKIJAN POKKO,643,NaN,NaN
4,1997,40001079,84216,1310,Rehuohra,16,POHTO,262,NaN,NaN
5,1997,40001584,14001,1310,Rehuohra,16,POHTO,81,NaN,NaN
6,1997,40001887,14001,1310,Rehuohra,16,POHTO,185,NaN,NaN
7,1997,40002291,33,1310,Rehuohra,4,ARVE,110,NaN,NaN
8,1997,40002392,33,1310,Rehuohra,4,ARVE,39,NaN,NaN
9,1997,40002493,33,1400,Kaura,12,VELI,112,NaN,NaN

In [4]:
ta = df['TAYS_TUHO']

In [5]:
len(set(df['VUOSI']))

18

In [6]:
len(ta.dropna())

311493

In [7]:
# len(set(df['TAYS_TUHO']))

In [9]:
df2 = pd.read_csv('~/Dropbox (Aalto)/MAVI1/kasvit_2015_2017.txt', sep=';', encoding='Latin-1')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 2